<h2>CMP A</h2>
<input type="text" #input>
<button type="button" (click)="guardarDato(input.value)" >Añadir a lista</button>
<button type="button" (click)="enviarDato(input.value)" >Enviar Dato a cmp-b</button>
<hr>
<ul>
  <li *ngFor="let item of listaItems">{{item}}</li> 
</ul>

