<h2>Usuario CMP</h2>
<button type="button" (click)="irInicio()">Ir a inicio</button>
<button type="button" (click)="irEditar()">Ir a editar</button>
<a [routerLink]="['editar']">Editar usuario</a>
<a [routerLink]="['info']">Info usuario</a>

<hr>
<h3>Usuario: {{ visible=='false'?'****':idUsuario }}</h3>
<router-outlet></router-outlet>