<h2>CMP B</h2>
<input type="text" #input>
<button type="button" (click)="guardarDato(input.value)" >Añadir a lista</button>
<hr>
<ul>
  <li *ngFor="let item of listaItems">{{item}}</li> 
</ul>
<hr>
<p>Mensaje:{{ mensaje }}</p>