<h1>Lista productos</h1>
<ul class="list-item-group">
  <li *ngFor="let producto of productos">{{producto.nombre}}:{{producto.precio | currency:'EUR'}}</li>
</ul> 
<button class="btn btn-danger">Un boton</button>
