<h2>INICIO</h2>

<ul>
    <li *ngFor="let item of listaItems; let i= index">
       <p>{{i}}: {{item}}  
           <button type="button" style="color:red" (click)="eliminarTareaindex(i)">X</button>
           <button type="button" style="color: green" (click)="getTachadoStyle()">V</button>      
       </p>

    </li>
</ul>
<button type="button" style="color: blue" (click)="irFormulario()">+</button> 