<h2>Formulario Plantilla</h2>
<h1>Data Driven</h1>
<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div ngModelGroup="datosUsuario">  
    <div>
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [ngModel]="usuario.datosUsuario.nombre" required>
      </div>  
      <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" id="email" name="email" [ngModel]="usuario.datosUsuario.email" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" #email="ngModel">
           <p style="color:red" *ngIf="email.invalid && !email.pristine">El campo es invalido</p>
      </div>
     
    </div>  
  </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [ngModel]="usuario.password" required>
    </div>  
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Enviar</button>
</form>  
