<h1>Directivas</h1>
<h2>Directivas Atributo</h2>
<p [appMarcado]="'yellow'">Un texto marcado en amarillo</p>
<p [appMarcado]="'blue'">Un texto marcado en azul</p>

<input appPowerMode type="text" />

<h2>Directivas Estructurales</h2>
<p *ngIf="seMuestra">Se esta mostrando if</p>
<ng-template [ngIf]="seMuestra">
  <p>Se está mostrando</p>
</ng-template>
<p *appUnless="seMuestra">Se esta mostrando unless</p>
<button type="button" (click)="cambiarMuestra()">Cambiar</button>
<ul>
    <li *ngFor="let mascota of mascotas; let i= index">{{i}}:{{ mascota}}</li>
</ul> 
<div [ngSwitch]="miMascota">
  <p *ngSwitchCase="'perro'">Tengo un perro</p>
  <p *ngSwitchCase="'gato'">Tengo un gato</p>
  <p *ngSwitchCase="'hamster'">Tengo un gato</p>
  <p *ngSwitchDefault>No tengo ninguna de las anteriores</p>
</div>