<h2>MANTENIMIENTO DE TAREAS</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="tarea">Tarea:</label>
    <input type="text" class="form-control" id="tarea" name="tarea" formControlName="tarea">
  </div> 
  <p>
    <button type="submit" style="color: green" [disabled]="formulario.invalid">+</button>
    <button type="button" style="color: red" (click)="cancelarTarea()" >-</button>
 </p>
</form>

