<!--<app-mi-primer-componente [numFavorito]="2" (emitirNombre)="guardarNombre($event)"></app-mi-primer-componente>
<app-otro-componente [nombre]="nombre"></app-otro-componente>>-->
<!--<app-cmp-pipes></app-cmp-pipes>>-->
<!--<app-cmp-directivas></app-cmp-directivas>-->
<!--<app-cmp-servicios></app-cmp-servicios>-->
<!--<app-cmp-forms></app-cmp-forms>-->
<!--<app-cmp-rutas></app-cmp-rutas>-->
<app-cmp-lista-tareas></app-cmp-lista-tareas>