<h1>Data Binding</h1>
<h2>Property Binding</h2>
<p [ngStyle]="getStyles()">Un texto tachado y rojo</p>
<p [ngClass]="{letraAzul:true,tachado:true}">Un texto subrayado y azul</p>
<button type="button" [disabled]="!datosCorrectos">Enviar datos</button>
<p>Num. favorito:{{numFavorito}}</p>
<hr>
<h2>Event Binding</h2>
<button type="button" (click)="saludar()" >Saludar</button>
<button type="button" (click)="enviarNombre($event)" >Emitir Nombre</button>
<hr>
<h2>Two-Way DataBinding</h2>
<label for="nombre">Nombre:{{usuario.nombre}}</label>
<input type="text" id="nombre" [(ngModel)]="usuario.nombre">
<label for="apellido">Apellido:{{usuario.apellido}}</label>
<input type="text" id="apellido" [(ngModel)]="usuario.apellido">
