<h1>Routing</h1>
<hr>
<a [routerLink]="['']">Ir a inicio</a>
<input type="text" (input)="guardarId(input.value)" #input>
<a [routerLink]="['usuario',id]" [queryParams]="{visible: false}">UsuarioOculto</a>
<a [routerLink]="['usuario',id]" >UsuarioClaro</a>

<!-- RUTAS AUXILIARES-->
<a [routerLink]="[{outlets:{'reg-aux1':'aux1'}}]" >AUX1</a>
<a [routerLink]="[{outlets:{'reg-aux1':'aux2'}}]" >AUX1-2</a>
<a [routerLink]="[{outlets:{'reg-aux2':'aux1'}}]" >AUX2-1</a>
<hr>

<!-- Etiqueta para mostrar el componente que queremos segun la url-->
<router-outlet></router-outlet>
<router-outlet name="reg-aux1"></router-outlet>
<router-outlet name="reg-aux2"></router-outlet>