<h2>Formulario Datos</h2>
<h1>Template Driven</h1>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div formGroupName="datosUsuario">
      <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
      </div>  
      <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" id="email" name="email" formControlName="email">
          <p style="color:red" *ngIf="formulario.controls.datosUsuario.controls.email.invalid && !formulario.controls.datosUsuario.controls.email.pristine">El campo es invalido</p>
      </div>
    </div>  
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" formControlName="password">
    </div>  
    <div formArrayName="hobbies">
        <h3>Hobbies</h3>
        <div class="form-group" *ngFor="let hobby of formulario.controls.hobbies.controls; let i= index">
            <input type="text" class="form-control" formControlName="{{ i }}">   
        </div>
    </div>    
    <button type="button" class="btn btn-default" (click)="addHobby()">Añadir Hobby</button>    
    <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary">Enviar</button>
</form> 
