<h1>Pipes</h1>
<p>{{ texto }}</p>
<p>{{ texto | uppercase }}</p>
<p>{{ texto | slice:2 }}</p>
<p>{{ texto | slice:2:5 }}</p>
<p>{{ texto | slice:2:5 | uppercase }}</p>
<p>{{ num }}</p>
<p>{{ num | currency:'EUR' }}</p> 
<p>{{ num | doble |currency:'EUR' }}</p>
<p>{{ num | doble:3 }}</p>
<p>{{ num | doble:3:3 }}</p>
<p>{{ fecha }}</p>
<p>{{ fecha | date:'dd/MM/yyyy' }}</p>
<p>{{ texto | reverse}}</p>
<p>{{ texto | sustitute:['t','o']}}</p>
<hr>
<h2>Pipes Impuros</h2>
<ul>
    <li *ngFor="let nombre of starks">{{nombre}}</li>
</ul>
<ul>
    <li *ngFor="let nombre of starks | filtro:'a'">{{nombre}}</li>
</ul>    
<input type="text" #item>
<button type="button" (click)="guardar(item.value)">Añadir</button>
<h2>Asinc Pipe</h2>
<p>Mensaje:{{ mensaje | async }}</p>